/* ==========================================================================
   variables.scss
   Couleurs, breakpoints et autres variables globales
   ========================================================================== */

$color-primary: #ff6060;   // Orange Kasa
$color-black: #000;
$color-white: #fff;

$desktop-min-wide: 768px;

