@import '../../styles/variables';

.home {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0 20px; // mobile-first
  display: flex;
  flex-direction: column;
  align-items: center;

  // Bandeau
  &__bandeau-container {
    position: relative;
    width: 100%;
  }

  &__bandeau {
    width: 100%;
    height: 111px; // mobile
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
  }

  &__bandeau-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: $color-white;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding: 0 10px; // un peu de marge côté mobile
  }

  &__grid {
    display: flex;
    flex-direction: column; // mobile : cartes empilées
    gap: 20px;
    width: 100%;
    margin-top: 20px; // espacement après bandeau
  }
}

/* ===== Desktop ===== */
@media screen and (min-width: $desktop-min-wide) {
  .home {
    padding: 40px;

    &__bandeau {
      height: 223px; // desktop
      border-radius: 25px;
    }

    &__bandeau-text {
      
      text-align: center;
      
      left: 50%;
      font-size: 48px;
      padding: 0 20px;
    }

    &__grid {
      padding-top: 80px;
      flex-direction: row;   // cartes côte à côte
      flex-wrap: wrap;       // permet plusieurs lignes
      gap: 40px;
      width: 95%;

      > * {
        width: calc(33.333% - 27px); // chaque card prend 1/3 moins gap
      }
    }
  }
}
