@import '../../styles/variables.scss';

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1.4 / 1; // rectangle
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  display: block;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    max-width:50%;
    z-index: 2; // texte au-dessus de l'ombre
  }

  // Ombrage dégressif vers le haut
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; // hauteur de l'ombre
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5), // ombre sombre en bas
      rgba(0, 0, 0, 0)    // transparent vers le haut
    );
    pointer-events: none; // ne bloque pas les clics
    z-index: 1;
  }
}

/* ===== Desktop ===== */
@media screen and (min-width: $desktop-min-wide) {
  .card {
    aspect-ratio: 1 / 1; // carré
  }
  .card__title {
    font-size: 18px;
  }
}
