/* ==========================================================================
   Carousel.scss
   Composant Carousel – Kasa
   ========================================================================== */

@import '../../styles/variables.scss';

/* ==========================================================================
   Base
   ========================================================================== */

.carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* ===== Image ===== */
  &__img {
    width: 100%;
    height: 250px; // mobile-first
    object-fit: cover;
    border-radius: 25px;
  }

  /* ===== Compteur ===== */
  &__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-white;
    font-weight: 500;
    background-color: transparent;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 14px;
  }

  /* ===== Flèches ===== */
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    /* Image de la flèche */
    img {
      width: 40px;
      height: auto;
      object-fit: contain;
    }

    /* Modifiers */
    &--left {
      left: 10px;
      transform: translateY(-50%) rotate(270deg);
    }

    &--right {
      right: 10px;
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

/* ==========================================================================
   Desktop
   ========================================================================== */

@media screen and (min-width: $desktop-min-wide) {
  .carousel {
    &__img {
      height: calc(100vw / 3); // hauteur = 1/3 de la largeur écran
    }

    &__counter {
      font-size: 18px;
      padding: 4px 12px;
    }

    &__arrow {
      img {
        width: 80px;
      }
      &--left {
        left: 25px;
      }

      &--right {
        right: 25px;
      }
    }
  }
}
